table {
    margin: 20px auto;
    color: black;
    background-image: linear-gradient(green, lightgreen);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
